body {
    background-color: lightblue; 
    color: maroon; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background:linear-gradient(to right,red,orange,yellow, green, blue,rgb(12, 12, 125),rgb(80, 11, 80) );
    color: lightgreen; 
    padding: 10px; 
    font-size: 16pt;
}

footer {
    background:linear-gradient(to right,red,orange,yellow, green, blue,rgb(12, 12, 125),rgb(80, 11, 80) ); 
    color: lightgreen; 
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right
}

a {
    text-decoration: none;
    color: green;
}

a:visited{
    color: blue;
    background-color: white;
}

a:hover {
color: red;
text-decoration: underline;
background-color: white;
font-weight: bold
}

a:active {
    color: pink;
    background-color: green;
}