body {
    background-color: lightblue; 
    color: maroon; 
    font-family: Arial; 
    margin: 0px;
}

header {
    background:linear-gradient(to right,red,orange,yellow, green, blue,rgb(12, 12, 125),rgb(80, 11, 80) );
    color: lightgreen; 
    padding: 10px; 
    font-size: 16pt;
}
header:hover{
    font-size: 16pt;
    color: green;
}
header:active{
    font-size: 10pt;
    color: rgb(28, 84, 11);
}

main{
    margin: 10px 20px;
}

footer {
    background:linear-gradient(to right,red,orange,yellow, green, blue,rgb(12, 12, 125),rgb(80, 11, 80) ); 
    color: lightgreen; 
    padding: 10px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
}

footer:hover{
    font-size: 16pt;
    color: green;
}
footer:active{
    font-size: 10pt;
    color: rgb(180, 235, 180);
}
a {
    text-decoration: none;
    color: green;
    transition: 600ms 2s;
    text-shadow: 7px 5px 3px green;
}

a:visited{
    color: blue;
    background-color: white;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 600ms 300ms;
}

a:active {
    color: pink;
    background-color: green;
}